body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px;
}

.banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

section {
    padding: 40px;
    text-align: center;
}

.locais {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.locais article {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.locais img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

.aviso {
    font-size: 14px;
    color: aqua;
}

.icone-witcher {
    
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-right: 6px;
}